.about-container {
  padding: 10px;
}

.container {
  overflow: hidden;
  display: flex;
}

.side-b {
  overflow: none;
  padding: 5px;
}

.side-b img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 800px) {
  .side-a {
    display: flex;
    align-items: center;
    width: 120%;
  }

  .side-a p {
    font-size: 20px;
  }
}
