.credentials {
}

.container {
  margin-inline: auto;
}

.credentials-cards {
  display: flex;
  margin-inline: auto;

  overflow-x: scroll;
}

.credentials-cards > * {
}

.cred-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 37%;
}
