.credentials {
  margin-bottom: 10%;
}

.credentials-header {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  margin-inline: auto;
  display: flex;
}

.credentials-cards {
  display: flex;
  margin-inline: auto;
  overflow-x: scroll;
}

.credentials-cards > * {
  margin-inline: 20px;
}

.cred-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 37%;
}

@media screen and (min-width: 800px) {
  .cred-card {
    min-width: 18%;
  }
}
