.credentials {
  margin-bottom: 10%;
}

.credentials-cards::-webkit-scrollbar {
  height: 5px;
}

.credentials-cards::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.credentials-header {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  margin-inline: auto;
  display: flex;
}

.credentials-cards {
  display: flex;
  margin-inline: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.credentials-cards > * {
  margin-inline: 20px;
  scroll-snap-align: start;
  margin-bottom: 20px;
}

.cred-card {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 35%;
  font-size: 14px;
}

.cred-card img {
  max-width: 75%;
  border-radius: 50%;
}

.credentials .stars {
  color: #fca311;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  margin-top: 5px;
}

@media screen and (min-width: 800px) {
  .cred-card {
    min-width: 18%;
    gap: 20px;
  }

  .cred-card img {
    max-width: 75%;
    border-radius: 50%;
  }
}
