.insurance-container {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}
.container {
  margin: 0 auto;
  padding: 0;
}

.insurance-box {
  background-color: rgba(231, 236, 239);
  padding: 10px 5px;
}

.insurance-main-text {
  text-align: center;
  width: 100%;
}

.insurance-header {
  padding: 10px;
  margin-bottom: 5%;
  display: grid;
  place-items: center;
  text-align: center;
}

.insurance-video video {
  width: 100%;
  margin-bottom: 10px;
  max-height: 30vh;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 800px) {
  .insurance-main-text h4 {
    font-size: 20px;
  }
  .insurance-main-text h5 {
    font-size: 18px;
  }
  .insurance-video video {
    max-height: 55vh;
  }
}
