.insurance-container {
  margin: 0 auto;
  padding: 10px;
}
.container {
  margin: 0 auto;
  padding: 0;
}

.h1-big {
  text-align: center;
  margin-bottom: 5%;
}

.insurance-box {
  /* background-color: rgba(231, 236, 239); */
  margin-top: 20px;
  padding: 20px 15px;
}

.insurance-main-text {
  text-align: center;
}

.insurance-header {
  padding: 10px;
  margin-bottom: 5%;
  display: grid;
  place-items: center;
  text-align: center;
}

.insurance-video {
  position: relative;
}

.insurance-video video {
  width: 100%;
  margin-bottom: 10px;
  height: 25vh;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.4);
}

.insurance-main-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 800px) {
  .insurance-main-text h4 {
    font-size: 20px;
  }
  .insurance-main-text h5 {
    font-size: 18px;
  }
  .insurance-video video {
    max-height: 55vh;
  }
  .container-huge-h1 h1 {
    font-size: 64px;
  }
}
