.header-contact {
  background-color: rgba(96, 150, 186);
  padding: 0 10px;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.contact h3,
.address h3,
a {
  font-size: 14px;
}

.contact-container {
  background-color: rgba(231, 236, 239);
  text-align: center;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0;
  margin: 20px 0;
}

.contact-icon,
.gps-icon {
  font-size: 24px;
  margin-right: 5px;
  display: flex;
  place-items: center;
  color: #fca311;
}

.contact-icon a:hover,
.gps-icon a:hover {
  color: #fca311;
}

.contact-icon:hover,
.gps-icon:hover {
  transform: scale(1.1);
}

.address-container {
  background-color: white;
  text-align: center;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0;
  margin: 20px 0;
}

.address-container p,
.contact-container p {
  color: #333;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.contact-icon a,
.gps-icon a {
  font-size: 24px;
  display: flex;
}

@media (min-width: 800px) {
  a {
    font-size: 20px;
  }
  .contact-icon a,
  .gps-icon a {
    font-size: 36px;
  }
}
