.footer-container {
  background-color: #274c77;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.footer-container .container {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

.footer-container p {
  color: white;
  margin-top: 20px;
}

@media (min-width: 800px) {
  .footer-container .container {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
