* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

:root {
  --alice-blue: hsla(202, 20%, 92%, 1);
  --yale-blue: hsla(212, 51%, 31%, 1);
  --cerulean-frost: hsla(204, 39%, 55%, 1);
  --baby-blue-eyes: hsla(207, 74%, 79%, 1);
  --battleship-grey: hsla(80, 1%, 54%, 1);
}

.container {
  max-width: 1024px;
}

.navbar {
  background-color: rgba(39, 76, 119);
  color: white;
  font-weight: bold;
  z-index: 100;
  position: initial;
}

.nav-links.active {
  background-color: rgb(231, 236, 239);
  font-size: 20px;
  color: rgba(39, 76, 119);
}
